In [ ]:
from sqlalchemy import create_engine
import pandas as pd
# Create engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [ ]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

In [109]:
def rentals_month(engine, month, year): #return dataframe
    query = f"""
        SELECT rental_id, customer_id
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    df = pd.read_sql_query(query, engine)
    return df


def rental_count_month(df, month, year):
    rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rental_counts


def compare_rentals(df1, df2):
    merged_df = df1.merge(df2, on='customer_id', how='outer').fillna(0)
    # merged_df['difference'] = merged_df.loc[:, 'rentals_05_2005'] - merged_df.loc[:, 'rentals_06_2005']
    merged_df['difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    return merged_df

In [110]:


# Passo 2: Obter dados de aluguel para maio de 2005
rentals_may_2005 = rentals_month(engine, 5, 2005)
print("Rental data for May 2005:")
display(rentals_may_2005.head(2))

Rental data for May 2005:

   rental_id  customer_id
0          1          130
1          2          459

In [111]:

# Passo 3: Calcular o número de aluguéis para maio de 2005 por cliente
rental_counts_may_2005 = rental_count_month(rentals_may_2005, 5, 2005)
print("\nRental counts for May 2005:")
display(rental_counts_may_2005.head())

Rental counts for May 2005:

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

In [100]:

# Passo 4: Comparar os números de aluguéis entre maio de 2005 e junho de 2005
rentals_june_2005 = rentals_month(engine, 6, 2005)
rental_counts_june_2005 = rental_count_month(rentals_june_2005, 6, 2005)
comparison_result = compare_rentals(rental_counts_may_2005, rental_counts_june_2005)
print("\nComparison of rental counts between May 2005 and June 2005:")
display(comparison_result.head())

Comparison of rental counts between May 2005 and June 2005:

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1              2.0              7.0        -5.0
1            2              1.0              1.0         0.0
2            3              2.0              4.0        -2.0
3            5              3.0              5.0        -2.0
4            6              3.0              4.0        -1.0

Engagement Potential: These insights can be used to segment customers and develop strategies to re-engage those who have decreased their rental activity, while also rewarding and encouraging those who have maintained or increased their rentals.

In [ ]:
# metodo 2 avancado
#  from sqlalchemy import create_engine, func
# from sqlalchemy.orm import sessionmaker
# from sqlalchemy.ext.automap import automap_base
# import pandas as pd

# # Crie uma conexão com o banco de dados MySQL
# engine = create_engine('mysql+mysqlconnector://username:password@localhost:3306/database_name')

# # Crie uma sessão
# Session = sessionmaker(bind=engine)
# session = Session()

# # Mapeie as tabelas do banco de dados
# Base = automap_base()
# Base.prepare(engine, reflect=True)

# # Escolha a tabela com a qual você deseja trabalhar
# Rentals = Base.classes.rentals  # Substitua 'rentals' pelo nome da sua tabela de aluguéis

# def rental_count_month(session, month, year):
#     # Execute a query to count rentals for each customer_id
#     result = session.query(Rentals.customer_id, func.count(Rentals.rental_id).label(f'rentals_{month:02d}_{year}')) \
#                    .filter(func.month(Rentals.rental_date) == month) \
#                    .filter(func.year(Rentals.rental_date) == year) \
#                    .group_by(Rentals.customer_id) \
#                    .all()
    
#     # Convert the result into a DataFrame
#     result_df = pd.DataFrame(result, columns=['customer_id', f'rentals_{month:02d}_{year}'])
    
#     return result_df

# # Example usage:
# result_df = rental_count_month(session, 5, 2005)  # Get rental counts for May 2005
# print(result_df)

# # Close the session
# session.close()